<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ firstname}} {{ name }}</title>
  </head>

  <body>
  <h1>Bienvenue chez {{ firstname}} {{ name }}</h1>
  <div>
    <p>Bonjour le monde</p>
  </div>
  </body>
</html>
