<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nombre de visite</title>
  </head>

  <body>
  <h1>Bonjour c'est votre visite numéro : {{ app.session.get('nbrVisit')}}</h1>

  </body>
</html>

